md-card.profile-body.edit-profile(layout='column' flex='70' style='background-color: #E0E0E0')
  md-card-content.content(layout='row' style='padding-top: 20px')
    div(flex="30" layout='row' layout-align='start start')
      img(src='images/student-sq.png' style='height:200px; width:200px')
    div(flex="65")
      p.md-display-1.packed-bottom Wairumu Njeri Kamau
      p.md-title.packed
        strong STUDENT
      p.md-subhead.packed-top(style='color: grey;') Living life and loving it
      div(layout='row')
        md-button(class="md-raised md-primary")
          i.fa.fa-lg.fa-bullhorn   4
          md-tooltip Campaigns
        md-button(class="md-raised md-primary")
          i.fa.fa-lg.fa-user   13
          md-tooltip Sponsors
        md-button(class="md-raised md-primary")
          i.fa.fa-lg.fa-thumbs-up   56
          md-tooltip Likes
    div(flex="5" layout='column')
      md-button(class="md-fab md-mini")
        i.fa.fa-lg.fa-thumbs-up
        md-tooltip Up vote
      md-button(class="md-fab md-mini")
        i.fa.fa-lg.fa-money
        md-tooltip Sponsor
md-card.profile-body.edit-profile.packed-top(layout='column' flex='70' style='margin-bottom: 50px')
  br
  md-tabs(md-dynamic-height md-border-bottom)
    md-tab(label='ABOUT')
      p.md-headline(style='color: #C0C0C0') About
      div(layout='row')
        div(layout='column' flex='40')
          p.md-subhead(style='font-weight: bolder') DATE OF BIRTH
          p.md-subhead(style='font-weight: bolder') EDUCATION LEVEL
          p.md-subhead(style='font-weight: bolder') SCHOOL
          p.md-subhead(style='font-weight: bolder') LOCATION 
        div(layout='column' flex='40')
          p 13th Friday 1990
          p Primary
          p Kogalo Primary School
          p Kisumu, Kenya
    md-tab(label='FOR SPONSORS')
      p.md-headline(style='color: #C0C0C0') Her message to you
      div(layout='column' layout-align='center center')
        p.md-subhead(style='font-weight: bold') I need your help
        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    md-tab(label='CAMPAIGNS')
      p.md-headline(style='color: #C0C0C0') Campaigns
      div(style='margin-bottom: 10px' layout='row')
        div(style='width: 110px; height: 110px;  background-color: #C0C0C0' layout='row' layout-align='center center')
          img(src='images/contribution.png' style='height:100px; width:100px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-subhead.packed(style='font-weight: bolder') FEES FOR CLASS 7, 3rd TERM, 2015
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-exclamation-triangle  5
              md-tooltip Urgency
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-calendar  5th, Oct 2015
              md-tooltip Due Date
          p.md-caption "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      div(style='margin-bottom: 10px' layout='row')
        div(style='width: 110px; height: 110px;  background-color: #C0C0C0' layout='row' layout-align='center center')
          img(src='images/contribution.png' style='height:100px; width:100px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-subhead.packed(style='font-weight: bolder') FEES FOR CLASS 7, 3rd TERM, 2015
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-exclamation-triangle  5
              md-tooltip Urgency
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-calendar  5th, Oct 2015
              md-tooltip Due Date
          p.md-caption "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      div(style='margin-bottom: 10px' layout='row')
        div(style='width: 110px; height: 110px;  background-color: #C0C0C0' layout='row' layout-align='center center')
          img(src='images/contribution.png' style='height:100px; width:100px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-subhead.packed(style='font-weight: bolder') FEES FOR CLASS 7, 3rd TERM, 2015
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-exclamation-triangle  5
              md-tooltip Urgency
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-calendar  5th, Oct 2015
              md-tooltip Due Date
          p.md-caption "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      div(style='margin-bottom: 10px' layout='row')
        div(style='width: 110px; height: 110px;  background-color: #C0C0C0' layout='row' layout-align='center center')
          img(src='images/contribution.png' style='height:100px; width:100px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-subhead.packed(style='font-weight: bolder') FEES FOR CLASS 7, 3rd TERM, 2015
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-exclamation-triangle  5
              md-tooltip Urgency
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-calendar  5th, Oct 2015
              md-tooltip Due Date
          p.md-caption "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    md-tab(label='HER SPONSORS')
      p.md-headline(style='color: #C0C0C0') Her Current Sponsors
      div(style='margin-bottom: 10px' layout='row')
        img(src='images/sponsor-sq.png' style='height:110px; width:110px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-title.packed(style='font-weight: bolder') Mrs. Alice Njuguna
          p.md-subhead.packed Doctor
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-users  5
              md-tooltip Students sponsored
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-money 15  
              md-tooltip Contributions
      div(style='margin-bottom: 10px' layout='row')
        img(src='images/sponsor-sq.png' style='height:110px; width:110px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-title.packed(style='font-weight: bolder') Ms. Winnie Moraa
          p.md-subhead.packed Software Developer
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-users  7
              md-tooltip Students sponsored
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-money 64
              md-tooltip Contributions
      div(style='margin-bottom: 10px' layout='row')
        img(src='images/sponsor-sq.png' style='height:110px; width:110px; margin: 10px;')
        div(layout='column' style='margin: 10px')
          p.md-title.packed(style='font-weight: bolder') Ms. Atieno Odhiambo
          p.md-subhead.packed Teacher
          div(layout='row')
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-users  13
              md-tooltip Students sponsored
            md-button(class="md-raised md-primary")
              i.fa.fa-lg.fa-money 45  
              md-tooltip Contributions


